# Python
.venv/
__pycache__/
*.pyc

# Data
# Ignore all data EXCEPT raw WEB Bible
# Allow raw folder
#!data/raw/
#data/*
#!data/raw/WEB_bible.txt

# Vector stores
*.faiss
chroma_db/

# Environment variables
.env
